In [100]:
%pip install pandas

Requirement already satisfied: pandas in /opt/anaconda3/envs/test/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in /opt/anaconda3/envs/test/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/envs/test/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/envs/test/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/envs/test/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/envs/test/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [125]:
import pandas as pd

df = pd.read_csv("prob-0101.csv")

In [115]:
df.info()
df.head(4)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   개봉일     59 non-null     object
 1   제목      59 non-null     object
 2   배급사     59 non-null     object
 3   감독      59 non-null     object
 4   출연진     59 non-null     object
 5   장르      59 non-null     object
dtypes: object(6)
memory usage: 2.9+ KB

,개봉일,제목,배급사,감독,출연진,장르
0,2023-01-04,스위치,"롯데컬처웍스, (주)롯데엔터테인먼트",마대윤,"권상우, 오정세, 이민정, 박소이, 김준",기타
1,2023-01-05,강남좀비,(주)와이드릴리즈,이수성,"지일주, 지연",드라마
2,2023-01-12,별 볼일 없는 인생,(주)이놀미디어,서동현,정가은,멜로/로맨스
3,2023-01-12,10일간의 애인,(주)그노스,이영용,송민경,멜로/로맨스

In [116]:
df.describe()

               개봉일   제목       배급사   감독                     출연진   장르
count           59   59        59   59                      59   59
unique          32   59        52   58                      59   20
top     2023-04-12  스위치  (주)인디스토리  최윤호  권상우, 오정세, 이민정, 박소이, 김준  드라마
freq             6    1         2    2                       1   27

In [117]:
print(len(df))
df[df['감독'].isin(['마대윤'])]

59

          개봉일   제목                  배급사   감독                     출연진  장르
0  2023-01-04  스위치  롯데컬처웍스, (주)롯데엔터테인먼트  마대윤  권상우, 오정세, 이민정, 박소이, 김준  기타

In [118]:
df['감독'].drop_duplicates().shape[0]

58

In [119]:
all_cast = df['출연진'].str.split(', ').explode()
all_cast.drop_duplicates().shape[0]

262

In [120]:
df['장르'].drop_duplicates().shape[0]

20

In [121]:
date_count = df.groupby('개봉일').size()
print(date_count[date_count >= 2].index.to_list())
print(date_count[date_count >= 2])
date_count[date_count >= 2].idxmax()

['2023-01-12', '2023-01-18', '2023-02-08', '2023-02-22', '2023-03-01', '2023-03-29', '2023-04-05', '2023-04-12', '2023-04-19', '2023-05-10', '2023-05-31', '2023-06-07', '2023-06-08', '2023-06-21', '2023-06-28']
개봉일
2023-01-12    2
2023-01-18    2
2023-02-08    3
2023-02-22    2
2023-03-01    2
2023-03-29    5
2023-04-05    4
2023-04-12    6
2023-04-19    2
2023-05-10    3
2023-05-31    2
2023-06-07    2
2023-06-08    2
2023-06-21    3
2023-06-28    2
dtype: int64

'2023-04-12'

In [131]:
def set_duplicate(df, column_name: str, count_column_name: str):
    df[column_name] = False
    for i in range(len(df)):
        cast_i = set(df.loc[i, count_column_name].split(', '))
        for j in range(len(df)):
            if i != j:
                cast_j = set(df.loc[j, count_column_name].split(', '))
                if cast_i & cast_j:
                    df.loc[i, column_name] = True
                    break
set_duplicate(df, 'is_cast_duplicate', '출연진')
print(df[df['is_cast_duplicate'] == True])
set_duplicate(df, 'is_director_duplicate', '감독')
print(df[df['is_director_duplicate'] == True])

           개봉일                제목                 배급사                       감독  \
5   2023-01-18                유령           (주)CJ ENM                      이해영
8   2023-02-08             다음 소희           트윈플러스파트너스                      정주리
9   2023-02-08  어쩌면 우린 헤어졌는지 모른다       (주)영화특별시 에스엠씨                      형슬우
12  2023-02-22               카운트           (주)CJ ENM                      권혁재
14  2023-02-23             컨버세이션               필름 다빈                      김덕중
20  2023-03-29           여섯 개의 밤            (주)인디스토리                      최창환
22  2023-03-29               웅남이           (주)CJ CGV                      박성광
23  2023-03-29         찬란한 나의 복수       영화배급협동조합 씨네소파                      임성운
36  2023-04-14            킬링 로맨스  롯데컬쳐웍스 (주)롯데엔터테인먼트                      이원석
39  2023-04-26                드림       (주)플렉스엠엔터테인먼트                      이병헌
42  2023-05-10              바람개비            (주)디스테이션                      이상훈
44  2023-05-17        말이야 바른 말이지              씨에스픽쳐스  박동훈, 최하나, 송현주, 한인미, 윤성호
48  2023-05-31            범죄도시 3       (주)에이비오엔터테인먼트                      이상용
51  2023-06-08             안나푸르나               시네마뉴원                      황승제
52  2023-06-08              육지것들             (주)씨엠닉스                       이황
53  2023-06-14               실버맨            (주)이놀미디어                      최윤호
55  2023-06-21                 손            (주)이눌미디어                      최윤호
58  2023-06-28                라방              트리플픽쳐스                      최주연

                                                  출연진               장르  \
5                        설경구, 이하늬, 박소감, 박해수, 서현우, 김동희               액션
8                                  김시은, 배두나, 박우영, 정수하              드라마
9                                  이동휘, 정은채, 강길우, 정다은              드라마
12                       진선규, 성유빈, 오나라, 고창석, 장동주, 고규필              드라마
14                        조은지, 박종환, 곽민규, 소이, 송은지, 곽진무              드라마
20                       강길우, 강진아, 김시은, 변중희, 이한주, 정수지  드라마, 멜로·로맨스, 가족
22        박성웅, 이이경, 염혜란, 최민수, 오달수, 윤제문, 백지혜, 서동원, 한다솔          코미디, 액션
23                                      허준석, 이영석, 남보라              드라마
36                                  이하늬, 이선균, 공명, 김상욱              코미디
39   박서준, 아이유, 김종수, 고창석, 정승길, 이현우, 양현민, 홍완표, 허준석, 이하늬              드라마
42                            차선우, 유지애, 김소희, 이원석, 서지후               액션
44   김경일, 양현민, 김소형, 김우겸, 정승길, 조윤서, 신사랑, 오경화, 서벽준, 정유연              코미디
48  마동석, 이준혁, 아오키 무네타카, 이범수, 김민재, 이지훈, 김도건, 최동구, 이...           범죄, 액션
51                            김강현, 차선우, 한수연, 신연서, 서은채              드라마
52                                                 소이              코미디
53                            김정팔, 박상욱, 신의현, 이경준, 유재인              드라마
55                             이재원, 박상욱, 정서하, 허웅, 안수호           공포,코미디
58                                      박성웅, 박선호, 김희정              스릴러

    is_cast_duplicate  is_director_duplicate
5                True                  False
8                True                  False
9                True                  False
12               True                  False
14               True                  False
20               True                  False
22               True                  False
23               True                  False
36               True                  False
39               True                  False
42               True                  False
44               True                  False
48               True                  False
51               True                  False
52               True                  False
53               True                   True
55               True                   True
58               True                  False
           개봉일   제목       배급사   감독                      출연진      장르  \
53  2023-06-14  실버맨  (주)이놀미디어  최윤호  김정팔, 박상욱, 신의현, 이경준, 유재인     드라마
55  2023-06-21    손  (주)이눌미디어  최윤호   이재원, 박상욱, 정서하, 허웅, 안수호  공포,코미디

    is_cast_duplicate  is_director_duplicate
53               True                   True
55               True                   True

In [171]:
def suggest_movie(genre, count):
    print(df[df['장르'] == genre].head(count))

def random_suggest_movie(genre, count):
    print(df[df['장르'] == genre].sample(count))

suggest_movie('드라마', 5)
random_suggest_movie('드라마', 5)

          개봉일                제목            배급사   감독                 출연진   장르  \
1  2023-01-05              강남좀비      (주)와이드릴리즈  이수성             지일주, 지연  드라마
4  2023-01-18                교섭     플렉스엠엔터테인먼트  임순례        황정민, 현빈, 강기영  드라마
7  2023-01-25    열여덟, 어른이 되는 나이          필름 다빈   주영  임선우, 김명찬, 이장유, 박현숙  드라마
8  2023-02-08             다음 소희      트윈플러스파트너스  정주리  김시은, 배두나, 박우영, 정수하  드라마
9  2023-02-08  어쩌면 우린 헤어졌는지 모른다  (주)영화특별시 에스엠씨  형슬우  이동휘, 정은채, 강길우, 정다은  드라마

   is_cast_duplicate  is_director_duplicate
1              False                  False
4              False                  False
7              False                  False
8               True                  False
9               True                  False
           개봉일                제목            배급사   감독  \
19  2023-03-23            낭만 캠퍼스        (주)콘텐츠윙  박동기
9   2023-02-08  어쩌면 우린 헤어졌는지 모른다  (주)영화특별시 에스엠씨  형슬우
23  2023-03-29         찬란한 나의 복수  영화배급협동조합 씨네소파  임성운
12  2023-02-22               카운트      (주)CJ ENM  권혁재
14  2023-02-23             컨버세이션          필름 다빈  김덕중

                                  출연진   장르  is_cast_duplicate  \
19  신민재, 송보은, 이경욱, 설유진, 현진영, 박동기, 김세환  드라마              False
9                  이동휘, 정은채, 강길우, 정다은  드라마               True
23                      허준석, 이영석, 남보라  드라마               True
12       진선규, 성유빈, 오나라, 고창석, 장동주, 고규필  드라마               True
14        조은지, 박종환, 곽민규, 소이, 송은지, 곽진무  드라마               True

    is_director_duplicate
19                  False
9                   False
23                  False
12                  False
14                  False