In [3]:
%pip install pandas

Collecting pandas
  Downloading pandas-1.3.5-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.3/11.3 MB 80.2 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Requirement already satisfied: python-dateutil>=2.7.3 in /home/innovation/.conda/envs/codyssey/lib/python3.7/site-packages (from pandas) (2.9.0)
Collecting numpy>=1.17.3
  Downloading numpy-1.21.6-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (15.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 15.7/15.7 MB 72.9 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Collecting pytz>=2017.3
  Downloading pytz-2024.2-py2.py3-none-any.whl (508 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 508.0/508.0 kB 69.9 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in /home/innovation/.conda/envs/codyssey/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.21.6 pandas-1.3.5 pytz-2024.2
Note: you may need to restart the kernel to use updated packages.

In [10]:
import pandas as pd

df = pd.read_csv("prob-0101.csv")

In [11]:
df.info()
df.head(4)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   개봉일     59 non-null     object
 1   제목      59 non-null     object
 2   배급사     59 non-null     object
 3   감독      59 non-null     object
 4   출연진     59 non-null     object
 5   장르      59 non-null     object
dtypes: object(6)
memory usage: 2.9+ KB

,개봉일,제목,배급사,감독,출연진,장르
0,2023-01-04,스위치,"롯데컬처웍스, (주)롯데엔터테인먼트",마대윤,"권상우, 오정세, 이민정, 박소이, 김준",기타
1,2023-01-05,강남좀비,(주)와이드릴리즈,이수성,"지일주, 지연",드라마
2,2023-01-12,별 볼일 없는 인생,(주)이놀미디어,서동현,정가은,멜로/로맨스
3,2023-01-12,10일간의 애인,(주)그노스,이영용,송민경,멜로/로맨스

In [12]:
df.describe()

               개봉일   제목       배급사   감독                     출연진   장르
count           59   59        59   59                      59   59
unique          32   59        52   58                      59   20
top     2023-04-12  스위치  (주)인디스토리  최윤호  권상우, 오정세, 이민정, 박소이, 김준  드라마
freq             6    1         2    2                       1   27

In [16]:
# df[['감독', '배급사']]
df[df['개봉일'] > '2023-06-01']

,개봉일,제목,배급사,감독,출연진,장르
49,2023-06-07,박하경 여행기,CJ엔터테인먼트,이종필,이나영,드라마
50,2023-06-07,익스트림 페스티벌,트윈플러스파트너스(주),김홍기,"김재화, 조민재, 박강섭",코미디
51,2023-06-08,안나푸르나,시네마뉴원,황승제,"김강현, 차선우, 한수연, 신연서, 서은채",드라마
52,2023-06-08,육지것들,(주)씨엠닉스,이황,소이,코미디
53,2023-06-14,실버맨,(주)이놀미디어,최윤호,"김정팔, 박상욱, 신의현, 이경준, 유재인",드라마
54,2023-06-21,귀공자,(주)넥스트엔터테인먼트월드,박훈정,"김선호, 강태주, 김강우, 고아라",액션
55,2023-06-21,손,(주)이눌미디어,최윤호,"이재원, 박상욱, 정서하, 허웅, 안수호","공포,코미디"
56,2023-06-21,인드림,(주)원더스튜디오,신재호,"서효림, 오지호, 김승수, 이설구, 노지유",액션
57,2023-06-28,아수라장: 범털들의 전쟁,(주)제이앤씨미디어그룹,윤여창,"정영주, 안미나, 배진아, 한가은",범죄
58,2023-06-28,라방,트리플픽쳐스,최주연,"박성웅, 박선호, 김희정",스릴러